include ../_include/meta
include ../_include/variables

-
  var bodyClasses = [];
  var titleChild = '';
  var pageID = '';
  var lev = 0;
  var pathToRoot = '';
  var lev1ID = '';

block vars

-
  title = titleChild ? titleChild + ' | ' + meta.titleBase : meta.titleBase;
  bodyClasses.push(lev1ID);
  for(let i = 0; i < lev; i++){
    pathToRoot += '../';
  }
  var pathToAssets = pathToRoot + 'assets/';
  var pathToJS = pathToAssets + 'js/';
  var pathToCSS = pathToAssets + 'css/';
  var pathToLibs = pathToAssets + 'libs/';
  var pathToSVG = pathToAssets + 'images/svg/';
  var pathToImgLG = pathToAssets + 'images/lg/';
  var pathToImgMD = pathToAssets + 'images/md/';
  var pathToImgSM = pathToAssets + 'images/sm/';

doctype html
html(lang="ja", xmlns:og="http://ogp.me/ns#")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
    meta(name="description", content=`${meta.description}`)
    meta(name="keywords", content="")
    link(href=`${pathToLibs}html5reset.css`, rel="stylesheet", type="text/css")
    link(href=`${pathToCSS}main.css${hash}`, rel="stylesheet", type="text/css")
    block links

    meta(property="og:title", content="")
    meta(property="og:description", content="")
    meta(property="og:type", content="")
    meta(property="og:image", content="")
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")
    meta(property="og:url", content="")
    title= title
  body(class=bodyClasses)
    main
      h1 HELLO WORLD
      block main
    block scripts
